.errormodal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.errormodal-content h1 {
    height: 30%;
    color: red;
}

.errormodal-content h3 {
    height: 50%;
}

.errormodal-content button {
    position: absolute;
    bottom: 0;
    right: 15px;
    padding: 12px;
    width: 10%;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #2f313e ;
    border-radius: 8px;
    font-weight: bold;
}