.homepage-maincontainer {
    width: 100%;
    height: 93vh;
    background-color: #feffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.homepage-welcometext {
    padding: 20px;
    font-size: 40px;
}

.homepage-besttext {
    padding: 20px;
    font-size: 60px;
    
}